 .u-section-1 {
  background-image: linear-gradient(#fef9e6, #eafdfc);
}

.u-section-1 .u-sheet-1 {
  min-height: 1864px;
}

.u-section-1 .u-text-1 {
  margin: 57px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 51px;
  animation-duration: 1000ms;
  margin: 0 150px 0 165px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 150px;
  margin: 0 507px 0 521px;
}

.u-section-1 .u-text-2 {
  margin: 76px auto 0 445px;
}

.u-section-1 .u-custom-html-3 {
  min-height: 1392px;
  margin: 20px 948px 0 144px;
}

.u-section-1 .u-custom-html-4 {
  min-height: 1392px;
  margin: -1415px 883px 0 214px;
}

.u-section-1 .u-custom-html-5 {
  min-height: 1392px;
  margin: -1419px 196px 0 911px;
}

.u-section-1 .u-custom-html-6 {
  min-height: 1392px;
  margin: -1414px 144px 0 965px;
}

.u-section-1 .u-custom-html-7 {
  min-height: 560px;
  margin: -1379px 561px 0 532px;
}

.u-section-1 .u-custom-html-8 {
  min-height: 560px;
  margin: -567px 518px 0 580px;
}

.u-section-1 .u-custom-html-9 {
  min-height: 0;
  margin: 30px 518px 60px 580px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
    width: 940px;
    margin-top: 416px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    width: 112px;
    margin-right: 407px;
    margin-left: 421px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 438px;
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
    width: 940px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-custom-html-4 {
    height: auto;
    margin-right: 979px;
    margin-left: 100px;
  }

  .u-section-1 .u-custom-html-5 {
    height: auto;
    margin-right: -100px;
    margin-left: 100px;
  }

  .u-section-1 .u-custom-html-6 {
    height: auto;
    width: 940px;
    margin-right: 98px;
    margin-left: 100px;
  }

  .u-section-1 .u-custom-html-7 {
    height: auto;
    margin-right: -168px;
    margin-left: 432px;
  }

  .u-section-1 .u-custom-html-8 {
    height: auto;
    margin-right: 418px;
    margin-left: 480px;
  }

  .u-section-1 .u-custom-html-9 {
    height: auto;
    margin-right: 418px;
    margin-left: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 297px;
    margin-left: 311px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 869px;
    margin-left: 210px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-6 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-custom-html-7 {
    margin-left: 360px;
    margin-right: 360px;
  }

  .u-section-1 .u-custom-html-8 {
    margin-left: 360px;
    margin-right: 360px;
  }

  .u-section-1 .u-custom-html-9 {
    margin-right: 308px;
    margin-left: 370px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-top: 676px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 207px;
    margin-left: 221px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 779px;
    margin-left: 300px;
  }

  .u-section-1 .u-custom-html-6 {
    width: 540px;
    margin-right: 0;
    margin-left: 509px;
  }

  .u-section-1 .u-custom-html-7 {
    margin-left: 270px;
    margin-right: 270px;
  }

  .u-section-1 .u-custom-html-8 {
    margin-left: 270px;
    margin-right: 270px;
  }

  .u-section-1 .u-custom-html-9 {
    margin-right: 218px;
    margin-left: 280px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-top: 615px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 25px;
    margin-right: 107px;
    margin-left: 121px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 487px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 679px;
    margin-left: 400px;
  }

  .u-section-1 .u-custom-html-6 {
    width: 340px;
    margin-left: 309px;
  }

  .u-section-1 .u-custom-html-7 {
    margin-left: 170px;
    margin-right: 170px;
  }

  .u-section-1 .u-custom-html-8 {
    margin-left: 170px;
    margin-right: 170px;
  }

  .u-section-1 .u-custom-html-9 {
    margin-right: 118px;
    margin-left: 180px;
  }
}