.u-section-1 .u-sheet-1 {
  min-height: 3291px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 51px;
  width: 1027px;
  animation-duration: 1000ms;
  margin: 34px 57px 0;
}

.u-section-1 .u-text-1 {
  margin: 288px auto 0 438px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 1392px;
  margin: 28px 942px 0 150px;
}

.u-section-1 .u-custom-html-3 {
  min-height: 1446px;
  margin: -1392px 890px 0 207px;
}

.u-section-1 .u-custom-html-4 {
  min-height: 1392px;
  margin: -1446px 198px 0 908px;
}

.u-section-1 .u-custom-html-5 {
  min-height: 1392px;
  margin: -1392px 150px 0 964px;
}

.u-section-1 .u-custom-html-6 {
  min-height: 1392px;
  margin: -1392px 572px 0 520px;
}

.u-section-1 .u-custom-html-7 {
  min-height: 1446px;
  margin: -1392px 520px 60px 577px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
    width: 940px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    width: 940px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
    margin-right: 979px;
    margin-left: 100px;
  }

  .u-section-1 .u-custom-html-4 {
    height: auto;
    width: 940px;
    margin-left: 100px;
    margin-right: 98px;
  }

  .u-section-1 .u-custom-html-5 {
    height: auto;
    width: 940px;
    margin-right: 50px;
    margin-left: 864px;
  }

  .u-section-1 .u-custom-html-6 {
    height: auto;
    margin-right: 472px;
    margin-left: 420px;
  }

  .u-section-1 .u-custom-html-7 {
    height: auto;
    margin-right: 420px;
    margin-left: 477px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 869px;
    margin-left: 210px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-custom-html-5 {
    width: 720px;
    margin-right: 0;
    margin-left: 694px;
  }

  .u-section-1 .u-custom-html-6 {
    margin-right: 362px;
    margin-left: 310px;
  }

  .u-section-1 .u-custom-html-7 {
    margin-right: 310px;
    margin-left: 367px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 779px;
    margin-left: 300px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-custom-html-5 {
    width: 540px;
    margin-left: 514px;
  }

  .u-section-1 .u-custom-html-6 {
    margin-right: 272px;
    margin-left: 220px;
  }

  .u-section-1 .u-custom-html-7 {
    margin-right: 220px;
    margin-left: 277px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 487px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 679px;
    margin-left: 400px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-custom-html-5 {
    width: 340px;
    margin-left: 314px;
  }

  .u-section-1 .u-custom-html-6 {
    margin-right: 172px;
    margin-left: 120px;
  }

  .u-section-1 .u-custom-html-7 {
    margin-right: 120px;
    margin-left: 177px;
  }
}